<div class="row" style="margin: 20px">
  <section class="d-flex" style="margin-bottom: 20px">
    <input class="form-control me-2" type="text" placeholder="Search" #search>
    <button class="btn btn-outline-success" (click)="setSearch(filterBy.value, search.value)">Search</button>
  </section>
  <section>
    <div class="col-md-4">
      <select [ngClass]="['select']" (change)="setSearch(filterBy.value, search.value)" #filterBy>
        <option value="none">Show All</option>
        <option value="actionPrice">Action Price</option>
        <option value="available">Available</option>
      </select>
    </div>
  </section>
  <app-product-card class="col-md-4"
    *ngFor="let product of dataService.data"
    [product]="product" (click)="openProduct(product.id)">
  </app-product-card>
</div>
