<div class="row" style="margin: 20px">
  <section style="margin-bottom: 20px">
    <div class="row justify-content-between">
      <div class="col-4">
            <input class="form-control me-2" type="text" placeholder="Поиск по имени" (keyup.enter)="setSearch({name: search.value}) "#search>
<!--            <button class="btn btn-outline-success" (click)="setSearch(search.value, search.value)">Search</button>-->
      </div>
      <div class="col-6">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item filter">Сортировать: </li>
          <li class="list-group-item filter">По умолчанию</li>
          <li class="list-group-item filter" routerLinkActive="hasPriceSearch" (click)="setSearch({name: search.value})">Цена</li>
          <li class="list-group-item filter">Рейтинг</li>
        </ul>
<!--          <select [ngClass]="['select']" (change)="setSearch(filterBy.value, search.value)" #filterBy>-->
<!--            <option value="none">Show All</option>-->
<!--            <option value="actionPrice">Action Price</option>-->
<!--            <option value="available">Available</option>-->
<!--          </select>-->
      </div>
    </div>
  </section>
  <app-product-card class="col-md-4"
    *ngFor="let product of (catalog$ | async)?.items"
    [product]="product"
    [routerLink]="['/product', product.id]">
  </app-product-card>
</div>
